*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: white;
  width: 100%;
  overflow-x: hidden;
}

section {
  padding: 55px 0vw;
}

h1,
h2,
h3 {
  position: relative;
  margin: 0 0 12px;
  letter-spacing: 1px;
  text-align: center;
  color: $black;
}

h1 {
  position: relative;
  font-size: 34px;
  padding-bottom: 5px;
  margin-bottom: 50px;
  font-family: "Avenir Book", Helvetica, Arial, sans-serif;
  transform: scale(1, 1.2);
  font-weight: 100;
  font-size: 1.8rem;
  cursor: default;

  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 200px;
    height: 2px;
    background-color: $green-hl;
  }
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3vw;
  text-align: justify;
  color: $black;
}
